{% extends "main/base.html" %}
{% load static  %}


 {% block title %}
		<title> {{ title }} </title>
    {% endblock %}



{% block header %}


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>{{ product.name }}</h1>
								<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
{#							<div class="hero-img-wrap">#}
{#								<img src={% static "main/images/couch.png" %} class="img-fluid">#}
{#							</div>#}
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

{% endblock %}



		
{% block content %}

<div class="container">
    <div class="card" style="top: 125px; margin-bottom: 450px;">
{#        <div class="d-inline-flex p-2 bd-highlight">#}
            <div class="d-flex justify-content-center">
       <img src="{{ product.image.url }}" style="width: 400px;" alt="{{product.name}}">
            </div>
{#        </div>#}
        <div class="card-body">
            <h1 class="display-4 fw-normal text-center ">{{ product.name}}</h1>
            <p class="product-item text-center"> Код товара - {{ product.display_id }}</p>
            <h2><p class="text-start">{{ product.description }}</p></h2>
            <a href="#" class="btn btn-primary">Купить по цене {{ product.sell_price }}$</a>
         </div>
    </div>
</div>


{% endblock %}


