{% extends "main/base.html" %}
{% load static  %}


  {% block title %}
		<title> {{ title }} </title>
    {% endblock %}
{% block header %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>{{ content }}</h1>
							</div>
						</div>
						<div class="col-lg-7">

						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

{% endblock %}

{% block content %}

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					{% for item in items %}
		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url "catalog:detail" item.slug  %}">
                            {% if item.image %}
							<img src="{{ item.image.url }}" class="img-fluid product-thumbnail" alt="{{item.name}}">
                                {% else %}
                                <img src="{% static "main/images/icon-image-not-found-free-vector.jpg" %}" class="img-fluid product-thumbnail">
							{% endif %}
                            <h3 class="product-title">{{item.name}}</h3>
							<h3 class="product-title">{{item.description}}</h3>
                            <h3 class="product-item-sm">Code: - {{item.display_id}}</h3>
							<strong class="product-price">Кількість на складі - {{item.quantity}}шт.</strong><br>
                            {% if  item.discount %}
                                <strong class="product-price"><del>Ціна - {{item.price}}$</del></strong><br>
							    <strong class="badge bg-danger text-white">Знижка - {{item.discount}}%</strong><br>
                                <strong class="product-price">Нова ціна - {{item.sell_price}}$</strong><br>
                            {% else %}
                                <strong class="product-price">Ціна - {{item.price}}$</strong><br>
                            {% endif %}


							<span class="icon-cross">
								<img src="{% static "main/images/cross.svg"%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 1 -->
					{% endfor %}

		      	</div>



    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
              </div>
    	</div>

{% endblock %}
